<nav class="navbar navbar-light bg-white d-flex justify-content-between sticky-top py-2">
    <a href="javascript:history.back()" class="text-dark"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg></a>
</nav>

<div class="jumbotron jumbotron-fluid create-fixed-deposit">
    <div class="top-header px-3">
        <div>
            <h5>Break your Fixed Deposit and transfer to your Savings Account</h5>
            <p class="text-dark mt-3">Available Deposit <strong>₹24,000</strong></p>
        </div>
    </div>
    <div class="container">
        <div class="fd-amt-input">
            <div class="my-auto d-flex justify-content-start">
                <span class="mr-2">₹</span>
                <input type="number" placeholder="Enter Amount to transfer">
            </div>
           <div class="my-auto">
            <button class="btn btn-primary">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                  </svg>
            </button>
           </div>
        </div>

        <div class="mt-5 d-flex justify-content-between">
            <span><img src="assets/images/idea__bulb.png" width="30" alt=""></span>
            <small class="text-muted ml-2">Amount from your most recent FD will be transferred to ensure you get higher returns</small>
        </div>
    </div>
</div>